{% extends "dashboard/base.html" %}
{% block content %}
<h2 style="color:#21c1d6;font-weight:900;">Editar nivel de inscripción</h2>
<form method="post" class="app-feature-box" style="max-width:430px;">
    <div class="mb-3">
        <label>Nombre del nivel</label>
        <input type="text" name="name_level" class="form-control" required maxlength="70" value="{{ level.name_level }}">
    </div>
    <div class="mb-3">
        <label>Costo de inscripción (S/)</label>
        <input type="number" name="registration_cost" step="0.01" class="form-control" required min="0" value="{{ level.registration_cost }}">
    </div>
    <button type="submit" class="btn btn-app w-100" style="color:#fff;background:#21c1d6;">Actualizar</button>
    <a href="{{ url_for('rental_module_api.inscription_levels_index') }}" class="btn btn-secondary w-100 mt-2">Cancelar</a>
</form>
{% endblock %}
